*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;

    /* border: 1px dashed black; */
}

:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --strong-cyan-shadow: hsl(171, 66%, 35%);
    --light-blue-shadow: hsl(233, 49%, 52%);

    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body{
    width: 100%;
}

.hero{
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}
#background-img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-user-drag: none;
}
#background-img-mobile{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-user-drag: none;
}
.hero #logo{
    width: 100px;
    height: 100px;
    margin-top: -20px;
}
.hero-title{
    margin-top: 25px;
    color: var(--dark-grayish-blue);
    width:550px;
    text-align: center;
}
.hero-description{
    width: 550px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: var(--grayish-blue)
}
.download-button-container{
    display: flex;
    gap: 20px;
    margin-top: 45px;
}
.download{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 600;
}

.download:hover{
    cursor: pointer;
}

.ios:hover, .ios:focus{
    background-color: var(--strong-cyan);
    box-shadow: 
    0px 2.5px var(--strong-cyan-shadow),
    0px 2.5px 10px var(--strong-cyan);
    outline: none;
    opacity: 80%;
}
.mac:hover, .mac:focus{
    background-color: var(--light-blue);
    box-shadow: 
    0px 2.5px var(--light-blue-shadow),
    0px 2.5px 10px var(--light-blue);
    outline: none;              
    opacity: 80%;
}

.download:active{
    opacity: 120%;
}

.ios{
    background-color: var(--strong-cyan);
    box-shadow: 
    0px 2.5px var(--strong-cyan-shadow);
}
.mac{
    background-color: var(--light-blue);
    box-shadow: 
    0px 2.5px var(--light-blue-shadow);
}

.keep-track{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.section-title{
    width: 375px;
    text-align: center;
    color: var(--dark-grayish-blue);
    font-weight: bold;
}
.section-text{
    width: 550px;
    text-align: center;
    color: var(--grayish-blue);
    font-size: 14px;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel, .left-panel{
    width: 50%;
}
.left-panel{
    display: flex;
    justify-content: flex-end;
}
.content{
    margin-left: 75px;
}
.sub-section-title{
    width: 200px;
    color: var(--dark-grayish-blue);
    font-size: 20px;
    margin-bottom: 10px;
}
.sub-section-text{
    width: 300px;;
    color: var(--grayish-blue);
    font-size: 14px;
    margin-bottom: 50px;
}
.access{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.devices-image{
    margin: 75px 0px;
    width: 700px;
}
.access .section-title{
    margin-top: 100px;
    margin-bottom: 20px;
}
.access .sub-title{
    margin-bottom: 20px; 
    color: var(--dark-grayish-blue);
}
.access .sub-sub-text{
    font-size: 14px;
    color: var(--grayish-blue);
}

.supercharge-workflow{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}
.supercharge-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.supercharge-card .sub-section-title{
    margin: 40px;
    text-align: center;
}
.supercharge-card .sub-section-text{
    margin-top: -20px;
    text-align: center;
}
.companies{
    display: flex;
    justify-content: center;
    gap: 90px;
}
.company-logo{
    width: 150px;
    object-fit:contain;
    margin: 40px 0px;
}
.download-repeat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}
.download-repeat .section-title{
    margin-top: 80px;
}
.download-repeat .section-text{
    margin-top: 20px;
}
.footer-logo{
    width: 50px;
    height: 50px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(245, 246, 247);
}
.footer-pages{
    width: 50%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.footer-link{
    text-decoration: none;
    color: var(--dark-grayish-blue)
}
.social-link-icon{
    width: 25px;
    height: 25px;
    object-fit:contain;
}

.footer-link:hover, .social-link-icon:hover{
    filter: invert(58%) sepia(10%) saturate(3363%) hue-rotate(122deg) brightness(106%) contrast(71%);
}
.footer-socials{
    display: flex;
    width: 5%;
    justify-content: space-between;
}